# Your requirements go here
global shots
shots = 0
global hits
    its = 0
    global grid
    grid = {}
    global grid_c
    grid_c = {}

global game_over
game_over = False

grid_maker = {(target(row, col)): "." for col in range(0, grid_size) for row in range(0, grid_size)}
